@page
@model FreshGoods.Pages.Account.LoginSuccessModel
@{
    ViewData["Title"] = "Login Success";
}
<h1>@ViewData["Title"]</h1>
@{
    <p>Login successful. 
        <img src="../images/Logo/fresh_goods.jpg" style="height: 250px; width: 350px;">
        <a class="nav-link" asp-area="" asp-page="/Index">Click here to continue.</a>
    </p>
}

