@page
@model FreshGoods.Pages.Account.LogoutModel
@{
    ViewData["Title"] ="Logout";
}
<h1>@ViewData["Title"]</h1>
@{
    <p>You've been logged out
        <img src="../images/Logo/fresh_goods.jpg" style="height: 250px; width: 350px;">
        <a class="nav-link" asp-area="" asp-page="/Index" >Click to continue</a>
    </p>
}