@page
@model FreshGoods.Pages.Account.RegisterSuccessModel
@{
        ViewData["Title"]="Register Success";
}
<p>Registration Succeeded with email @Model.Email.
    <img src="../images/Logo/fresh_goods.jpg" style="height: 250px; width: 350px;">
    <a href="/Account/Login">Click here to Login.</a>
</p>
