@page
@model FreshGoods.Pages.OrderSuccessModel
@{
    ViewData["Title"] = "Order Success";
}
<h1>@ViewData["Title"]</h1>
@{
    <p>We receiver your Order. 
        <a class="nav-link" asp-area="" asp-page="/Categoty">Click here to Buy .</a>
    </p>
}

